POSTGRES_DB=amazon_sales
POSTGRES_USER=postgres
POSTGRES_PASSWORD=amazon_pwd
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=admin123
OPENAI_API_KEY=your_key_here
